.video-card {
  width: 307px;
  position: relative;
}

.video-info {
  display: flex;
}

.remove-watch-later {
  background-color: #519dcd;
  border-radius: 50%;
  color: white;
}

.add-watch-later {
  color: #519dcd;
}
