.App {
  text-align: center;
  display: grid;
  grid-template-areas: "left right";
  grid-template-columns: 1fr 4fr;
}

.left {
  grid-area: left;
  border: solid;
}

.right {
  grid-area: right;
  border: solid;
  height: 1000px;
}
